<div class="form-group">
    <label for="title">Title</label>
    <input required  type="text" value="<%= article.title %>" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea required type="text" name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>
<div class="form-group">
    <label for="markdown">Mark down</label>
    <textarea required type="text" name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>
    <div class="form-group">
    <a href="/" class="btn btn-warning">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>

    </div>
